
@import models.dao.PostsCreate
@(form:Form[PostsCreate],postsCreateUrl:Call)(implicit request: MessagesRequestHeader)
@content() = {
    <div class="container">
        <h2>Thêm tin tức</h2>
        @request.flash.data.map{ case (name, value) =>
        <div>@name: @value</div>
        }

        @* Global errors are not tied to any particular form field *@
        @if(form.hasGlobalErrors) {
            @form.globalErrors.map { error: FormError =>
                <div>
                    Error: @error.key: @error.message
                </div>
            }
        }
        <hr>
        @helper.form(postsCreateUrl,'enctype -> "multipart/form-data"){
            @helper.CSRF.formField
            @helper.inputText(form("title"),'class->"form-control",'_label -> "Tiêu đề",'_help -> "")
            @helper.textarea(form("description"),'class->"form-control",'_label -> "Mô tả",'_help -> "")
            @helper.textarea(form("body"),'class->"form-control",'_label -> "Nội dung",'_help -> "")
            @helper.inputText(form("urlImg"),'class->"form-control-file",'_label -> "Hình ảnh",'_help -> "")
            <button class="btn btn-primary">Save</button>
        }
    </div>

}
@main("Posts add"){
    @content()
}
